<!DOCTYPE html>
<html>
  <body>
    <h1>Planner Peak Password Reset</h1>
    <!-- {{ form }} -->
    <form method="post">
      <label for="new_password1">New Password:</label><br /><br />
      <input type="password" id="new_password1" name="new_password1" /><br /><br />
      <label for="new_password1">Confirm New Password:</label><br /><br />
      <input type="password" id="new_password2" name="new_password2" /><br /><br />
      <input type="hidden" name="uid" value={{ uid }} />
      <input type="hidden" name="token" value={{ token }} />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
